*{ margin: 0; box-sizing: border-box;}
img{ vertical-align: bottom;}
.img-resp{ max-width: 100%; height: auto; }
hr{ margin: 1rem 0;}
.table{ border-collapse: collapse; margin: 1rem 0;}
.table :is(td,th){ border: 1px solid #888; padding: 5px; }

html{ font-size: 15px;}
body{ font: 16px/1.3 system-ui, sans-serif; background: #ddd;}

.container{ max-width: 1320px; margin: auto; padding: 0 1rem; }

header{ background: #cfc; padding: 1rem; }

nav{ background: #222; padding: 5px;}
nav ul{ list-style: none; padding: 0; display: flex; gap: 0 1rem;}
nav a{ display: block; text-decoration: none;  padding: .5rem 1rem; color: #ddd;}

main{ padding: 1rem; background: #fff;}
main p{ margin: 1rem 0;}

footer{ padding: 1rem; background: #222; color: #ddd; padding: 1rem; display: flex; justify-content: space-between;}